/*Primary Color - Cool Grey - #CDCDCD
○ Light - Clean (CambridgeBlue) -  #9BC1BC
○ Dark - Sunshine (Deep Blue) - #465C8B
○ Mid-tone - Vermillion -  #93C178
○ Accent - Blond  #F4F1BB
TerraCotta #ED6A5A
Platinum #E6EBEO
Cadet Blue - #5CA4A9

*/

/*Overall styles*/
body{
  font-family: 'Helvetica Neue', sans-serif;
  padding-top:80px;
  margin:  0 50px 100px; /* bottom = footer height */
  color:#465C8B;
  background-color: #E6EBEO;
}
.dumb{
  color:#fff;
}
h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color:#ED6A5A;
}
.navbar{
  color:#E6EBEO;
  background-color: #93C178;

}

footer {

    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #465C8B;

}
.wrapper{
  margin-left: 220px;
  margin-right: 220px;
  padding:20px;

}
.more{
  text-transform: lowercase;
  font-style: italic;

}
img {
    width: 100%;
    height: auto;
}
html {
    position: relative;
    /*min-height: 100%;*/

}/*keeps the footer low*/

input:{
 padding:10px;
}

login{
  padding: 20px;
}
.day md-whiteframe {
    background: #fff;
    margin: 30px;
    height: 100px; }
  @media (max-width: 599px) {
    .day md-whiteframe {
      margin: 7px;
      height: 50px;
      background-color: #c8e4fa; }
    .day md-whiteframe > span {
      font-size: 0.4em; } }
  @media (min-width: 600px) and (max-width: 959px) {
    .day md-whiteframe {
      margin: 20px;
      height: 75px; }
    .day md-whiteframe > span {
      font-size: 0.6em; } }
  @media (min-width: 960px) and (max-width: 1279px) {
    .day md-whiteframe {
      margin: 20px;
      height: 90px;
      background-color: #fcddde; }
    .day md-whiteframe > span {
      font-size: 0.9em; } }
  @media (min-width: 1280px) {
    .day md-whiteframe {
      margin: 25px;
      height: 100px;
      background-color: #F2FCE2; }
    .day md-whiteframe > span {
      font-size: 1.0em; } }

/*.day {
    width:70%;
    height:40px;
    background:#FFF;
    margin:40px auto;
}*/

/*.day{
  /*position:realtive;*/
  /*font-family: 'Helvetica Neue', sans-serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  background-color:#5CA4A9 ;
  /*color:#fff;*/
/*}*/
.loginpage{
  background-image: url("hirespiano.jpeg");

}

.IrmaHeader{
  text-align: center;
  background-color: #F4F1BB;
  font-family:cursive;
  line-height: 2;


}
.signIn{
  color:#fff;
  background-color: #ED6A5A;

}

/*SIGN IN FORM ****************************************************************/

.wrapper {
	margin-top: 80px;
  margin-bottom: 100px;
}


.form {

  text-align: center;
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #ED6A5A;

}

.form-control {

	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;

}


focus {

		z-index: 2;

}


input[type="text"] {

  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}

input[type="password"] {

  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

}
update{
  color:#DFDCE3;

}
/*Add Student Form styles******************************************************/
.addStudentForm{
  text-align: center;
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;

  border: 5px solid #ED6A5A;

  margin-top: 20px;
  background-color: #F4F1BB;


   /*width: 300px;*/

}
.agreement,h2{
  text-align: center;

}
.agreement,h4{
  text-align: left;
}
 .addStudentForm label, .addStudentForm input
 {
     display: block;
     width: 280px;
     text-align: center;
     margin-bottom: 10px;

 }
 br
 {
     clear: left;
 }
 td{
   font-family: 'Helvetica Neue', sans-serif;
   font-size: 12px;
   font-weight:lighter;
   letter-spacing: 2px;
   line-height: 1;
   text-align: center;


 }
md-card-header{
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  color:green;
}
