/*Primary Color - Cool Grey - #CDCDCD
○ Light - Clean (CambridgeBlue) -  #9BC1BC
○ Dark - Sunshine (Deep Blue) - #465C8B
○ Mid-tone - Vermillion -  #93C178
○ Accent - Blond  #F4F1BB
TerraCotta #ED6A5A
Platinum #E6EBEO
Cadet Blue - #5CA4A9

*/

.addStudentForm{
  text-align: center;
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  border: 5px solid #ED6A5A;
  margin-top: 20px;
  background-color: #F4F1BB;
   /*width: 300px;*/
}
.addStudentForm label, .addStudentForm input{
    display: block;
    width: 280px;
    text-align: center;
    margin-bottom: 10px;

}
.agreement,h2{
  text-align: center;

}
.agreement,h4{
  text-align: left;
}

body{
  font-family: 'Helvetica Neue', sans-serif;
  padding-top:80px;
  margin:  0 50px 100px; /* bottom = footer height */
  color:#465C8B;
  background-color: #E6EBEO;
}

br{
    clear: left;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.dumb{
  color:#fff;
}

focus {
		z-index: 2;
}

footer {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #465C8B;
}

.form {
  position: relative;
  text-align: center;
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #ED6A5A;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

h1{
  /*text-align: center;*/
  padding-top: 20px;
  padding-bottom: 20px;
  color:#ED6A5A;
}

html{
    position: relative;
    /*min-height: 100%;*/

}/*keeps the footer low. Supposedly.*/

img{
    width: 100%;
    height: auto;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.IrmaHeader{
  /*text-align: center;*/
  background-color: #F4F1BB;
  font-family:cursive;
  line-height: 2;
}

.loginpage{
  background-image: url("hirespiano.jpeg");
}

.login-page {
  width:360px;
  padding: 8% 0 0;
  margin:auto;
}

md-card-header{
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  color:green;
}

.more{
  text-transform: lowercase;
  font-style: italic;
}
.navbar{
  color:#fff;
  background-color: #93C178;
}

.signIn{
  color:#fff;
  background-color: #ED6A5A;
}

td{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight:lighter;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 100px;
}

update{
  color:#DFDCE3;
}

.wrapper{
  margin-left: 220px;
  margin-right: 220px;
  padding:20px;

}
