
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#home">Music Studio Tracker</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#logIn">Log In!</a></li>
      <li><a href="#students">Schedule and Student List</a></li>
      <li><a href="#studioPolicies">Studio Policies</a></li>
      <li><a href="#studioAgreementForm">Studio Agreement Form</a></li>
    </ul>
  </div>
</nav>
