<div class="container-fluid" align="center">


<h3>The Music Studio Tracker</h3>
    <h4>All Your Dreams Have Come True</h4>
    <p>
      Welcome to The Music Studio Tracker! <br />Would you like to
      <ul><br />
        <li>
          Keep track of student information?  </li><br />
          <li>Easily find account balances?</li><br />
            <li>Add or DELETE students in a database?</li><br />
          <li>Have a Master Schedule always at your fingertips?</li><br />

      </ul>
    Look no further! The Music Studio Tracker can do it all!
      Try to Log In, realize that's an empty exercise, and then use the nav bar to explore the rest of the site.
    </p>



</div>
