<form class="form-signin" action="/" method="post">
  <div>
    <h2 class="form-signin-heading">The Music Studio Tracker</h2>
      <h3>more time for music</h3>

        <label for="username">Username:</label>
        <input type="text" name="username" id="username" ng-model="userName" placeholder="User Name, Sweetie..." required="" autofocus="" /><br />

        <label for="password">Password:</label>
        <input type = "password" name="password" ng-model="password" id="password" placeholder="top secret password goes here"  required="" autofocus="" /><br />

        <button class="btn btn-lg btn-primary btn-block" a href="/logIn" type="submit" name="logInButton" value="logInButton">Login</button>
        <!-- Consider this the main view -->

<!-- Shown for users that are NOT logged in -->

<!-- Shown for users that are logged in -->
      
          <p>
            You are logged in!
          </p>
        </section>
  </div>
</form>
