<div>
  <h3>Master Schedule</h3>
  <!doctype html>
<html>
<head>
    <title>Timetable</title>


</head>
<body>
    <table width="80%" align="center" >
    <div id="head_nav">
    <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    </div>

    <!--<tr ng-repeat="student in studentArray | orderBy:'lesson_time'">
    DEMO CODE      <td>{{friend.name}}</td>
                    <td>{{friend.phone}}</td>
                    <td>{{friend.age}}</td> -->


    <div>
    <tr ng-repeat="student in studentArray  | orderBy:'lesson_day'" >
      <th>2:00 - 3:30</th><!--Each time slot has 6 days in it - -->
          <!-- <td>{{student.first_name}} {{student.last_name}}, {{lesson_day}}</td> -->
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

    </tr>
    </div>

    <div>
    <tr>
      <th>2:30 - 3:00</th>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
    </tr>
    </div>

    <div>
    <tr>
      <th>3:00 - 3:30</th>

            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
    </tr>
    </div>

    <div>
    <tr>
        <th>3:30 - 4:00</th>

            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

    </tr>
    </div>

    <div>
    <tr>
        <th>4:30-5:00</th>

        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    </div>

    <div>
    <tr>
        <th>5:00-5:30</th>

        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    </div>

    <tr>
        <th>5:30 - 6:00</th>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

    </tr>
    </div>

    <div>
    <tr>
      <th>6:00 - 6:30</th>

      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    </div>

    <div>
    <tr>
      <th>6:30 - 7:00</th>

      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    </div>

    <div>
    <tr>
      <th>7:30 - 8:00</th>

      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    </div>
</table>
</div>
