<div>
  <h3>Master Schedule</h3>
  <!doctype html>
<html>
<head>
    <title>Timetable</title>


</head>
<body>
    <table width="80%" align="center" >
    <div id="head_nav">
    <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
</div>

    <tr>
        <th>3:00 - 3:30</th>

            <td></td>
            <td></td>
            <td title="No Class" class="Holiday"></td>
            <td>Chemestry-1</td>
            <td>Alzebra</td>
            <td>Physical</td>
        </div>
    </tr>

    <tr>
        <th>3:30 - 4:00</td>

            <td>Math-2</td>
            <td>Chemestry-2</td>
            <td>Physics-1</td>
            <td>Hindi</td>
            <td>English</td>
            <td>Soft Skill</td>
        </div>
    </tr>

    <tr>
        <th>4:30-5:00</td>

            <td>Hindi</td>
            <td>English</td>
            <td>Math-1</td>
            <td>Chemistry</td>
            <td>Physics</td>
            <td>Chem.Lab</td>

        </div>
    </tr>

    <tr>
        <th>5:00-5:30</td>

            <td>Cumm. Skill</td>
            <td>Sports</td>
            <td>English</td>
            <td>Computer Lab</td>
            <td>Header</td>
            <td>Header</td>

        </div>
    </tr>

    <tr>
        <th>5:30 - 6:00</td>

            <td>Header</td>
            <td>Header</td>
            <td>Header</td>
            <td>Header</td>
            <td>Header</td>
            <td>Header</td>
        </div>
    </tr>
</table>














</div>
