

<form action="/register" method="post">
  <div>
    <h1>Are you a registered user? If not... register now!</h1>
    <h3>Already registered? Log in, baby!</h3>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
  </div>
  <div>
    <input type="submit" value="Register" />
  </div>
</form>
<div class="container-fluid" align="center">
  <div class = "signIn" >
    <h1 class = "dumb">The Music Studio Tracker</h1>
      <h3 class = "more">More Time for Music</h3>
      <img src="views/images/hirespiano.jpeg" alt="piano pic" />
  </div>
</div>
