<div>



  <!-- <div ng-app="">I want to make the addStudent form appear after clicking a button

  <p ng-hide="true">I am not visible.</p>

  <p ng-hide="false">I am visible.</p>

  </div> -->

  <h3>Add New Student</h3>

  <form ng-submit = "addStudent()">

  <div>
    <label for="first_name">First Name:</label>
    <input type="text" ng-model = "firstName" /><br />

    <label for="last_name">Last Name:</label>
    <input type="text" ng-model = "lastName" /><br />
<p><span>
  Lesson Day:

    <select name="lessonDay" id="lessonDay" ng-model = "lessonDay">
      <option value="">Lesson Day</option> <!-- not selected / blank option -->
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="4">Thursday</option>
      <option value="5">Friday</option>
      <option value="6">Saturday</option>
    </select>
  </span>
  </p>



<p><span>
  Lesson Time:

    <select name="lessonTime" id="lessonTime" ng-model = "lessonTime" >Lesson Time:
      <option value="">Lesson Time</option> <!-- not selected / blank option -->
      <option value="1">2:00</option>
      <option value="2">2:15</option>
      <option value="3">2:30</option>
      <option value="4">2:45</option>
      <option value="5">3:00</option>
      <option value="6">3:15</option>
      <option value="7">3:30</option>
      <option value="8">3:45</option>
      <option value="9">4:00</option>
      <option value="10">4:15</option>
      <option value="11">4:30</option>
      <option value="12">4:45</option>
      <option value="13">5:00</option>
      <option value="14">5:15</option>
      <option value="15">5:30</option>
      <option value="16">5:45</option>
      <option value="17">6:00</option>
      <option value="18">6:15</option>
      <option value="19">6:30</option>
      <option value="20">6:45</option>
      <option value="21">7:00</option>
      <option value="22">7:15</option>
      <option value="23">7:30</option>
      <option value="24">7:45</option>
    </select>
</span></p>
    <br />

    <label for="email">Email:</label>
    <input type="text" ng-model = "email" /><br />

    <label for="phone_number">Phone Number:</label>
    <input type="text" ng-model = "phoneNumber" /><br />

    <label for="current_balance">Current Balance:</label>
    <input type="text" ng-model = "currentBalance" /><br />
<p><span>
  Make Up Lessons:

    <select name="makeupLessons" id="makeupLessons" ng-model = "makeupLessons" >
      <option value="">--------</option> <!-- not selected / blank option -->
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>

    </select>
    </span></p>
<p><span>
  Wait List:

    <select name="waitList" id= "waitList" ng-model = "waitList">Wait List:
      <option value="">--------</option> <!-- not selected / blank option -->
      <option value="1">False</option>
      <option value="2">True</option>
        </select>
        </span></p>
<p><span>
   Lesson Rate:

<select name="lessonRate" id= "lessonRate" ng-model = "lessonRate">Lesson Rate:
          <option value="">--------</option> <!-- not selected / blank option -->
          <option value="30.00">$30.00</option>
          <option value="40.00">$40.00</option>
          <option value="45.00">$45.00</option>
          <option value="60.00">$60.00</option>
          <option value="90.00">$90.00</option>

        </select>
        </span></p>
        <br />

    <input class="btn btn-default" ng-click="addStudent()" type="addStudent" name = "addStudent" value="addStudent" />
    </div>
    </form>
</div>
<div ng-repeat = "student in allStudents"><h3>Student List</h3></div>
