

<div class ="addStudentForm">
  <div class="container-fluid hidden">
<h3>Add New Student</h3>

  <form ng-submit = "addStudent()">


    <label for="first_name">First Name:</label>
    <input type="text" ng-model = "firstName" /><br />

    <label for="last_name">Last Name:</label>
    <input type="text" ng-model = "lastName" /><br />
<h5><span>
  <label>Lesson Day:</label>

    <select name="lessonDay" id="lessonDay" ng-model = "lessonDay">
      <option value="">-------</option> <!-- not selected / blank option -->
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="4">Thursday</option>
      <option value="5">Friday</option>
      <option value="6">Saturday</option>
    </select>
  </span>
</h5>



<p><span>
  <label>Lesson Time:</label>

    <select name="lessonTime" id="lessonTime" ng-model = "lessonTime" >Lesson Time:
      <option value="">-------</option> <!-- not selected / blank option -->
      <option value="2:00">2:00</option>
      <option value="2:30">2:30</option>
      <option value="3:00">3:00</option>
      <option value="3:30">3:30</option>
      <option value="4:00">4:00</option>
      <option value="4:30">4:30</option>
      <option value="5:00">5:00</option>
      <option value="5:30">5:30</option>
      <option value="6:00">6:00</option>
      <option value="6:30">6:30</option>
      <option value="7:00">7:00</option>
      <option value="7:30">7:30</option>
    </select>
</span></p>
    <br />

    <label for="email">Email:</label>
    <input type="text" ng-model = "email" /><br />

    <label for="phone_number">Phone Number:</label>
    <input type="text" ng-model = "phoneNumber" /><br />

    <label for="current_balance">Current Balance:</label>
    <input type="text" ng-model = "currentBalance" /><br />

    <p><span><label>Lesson Rate:</label>
      <select name="lessonRate" id= "lessonRate" ng-model = "lessonRate">Lesson Rate:
      <option value="">--------</option> <!-- not selected / blank option -->
      <option value="30.00">$30.00</option>
      <option value="40.00">$40.00</option>
      <option value="45.00">$45.00</option>
      <option value="60.00">$60.00</option>
      <option value="90.00">$90.00</option>

    </select></span><span><input class="btn btn-default" ng-click="addStudent()" type="addStudent" name = "addStudent" value="addStudent" />
</span></p><br />
    <!-- <div class="form-group">
      <form ng-submit = "addNote()">
      <label for="comment">Notes:</label>
      <textarea class="form-control" rows="5" id="comment"></textarea>
      <input class="btn btn-default" ng-click="addNote()" type="addNote" name = "addNote" value="addNote" />
      </form>
    </div> -->

    <!-- <input class="btn btn-default" ng-click="addStudent()" type="addStudent" name = "addStudent" value="addStudent" /> -->

    </form>
    </div>
</div>

<h3>Student List</h3>

<!-- <div class="student" ng-repeat = "student.lesson_day = 1 in studentArray"> -->
  <div class="row">

    <table class="students">
<!-- Monday Students........................................................ -->
      <th>Monday</th>
        <div class="col-md-2" name="Monday" id="Monday" >
          <tr ng-repeat="student in studentArray | filter:{lesson_day:'1'}| orderBy: 'lesson_time'">
            <td>
            {{student.lesson_time}}
            {{student.first_name}} {{student.last_name}}<br />
            {{student.phone_number}}<br />
            {{student.current_balance}}<br />
            </td>
          </tr>
        </div>

<!-- Tuesday Students........................................................ -->
      <th>Tuesday</th>
        <div class="col-md-2" name="Tuesday" id="Tuesday" >
          <tr ng-repeat="student in studentArray | filter:{lesson_day:'2'}| orderBy: 'lesson_time'">
            <td>
            {{student.lesson_time}}
            {{student.first_name}} {{student.last_name}}<br />
            {{student.phone_number}}<br />
            {{student.current_balance}}<br />
            </td>
          </tr>
        </div>
<!-- Wednesday Students........................................................ -->
      <th>Wednesday</th>
        <div class="col-md-2" name="Wednesday" id="Wednesday" >
          <tr ng-repeat="student in studentArray | filter:{lesson_day:'3'}| orderBy: 'lesson_time'">
            <td>
            {{student.lesson_time}}
            {{student.first_name}} {{student.last_name}}<br />
            {{student.phone_number}}<br />
            {{student.current_balance}}<br />
            </td>
          </tr>
        </div>
<!-- Thursday Students........................................................ -->
      <th>Thursday</th>
        <div class="col-md-2" name="Thursday" id="Thursday" >
          <tr ng-repeat="student in studentArray | filter:{lesson_day:'4'}| orderBy: 'lesson_time'">
            <td>
            {{student.lesson_time}}
            {{student.first_name}} {{student.last_name}}<br />
            {{student.phone_number}}<br />
            {{student.current_balance}}<br />
            </td>
          </tr>
        </div>

<!-- Friday Students........................................................ -->
      <th>Friday</th>
        <div class="col-md-2" name="Friday" id="Friday" >
          <tr ng-repeat="student in studentArray | filter:{lesson_day:'5'}| orderBy: 'lesson_time'">
            <td>
            {{student.lesson_time}}
            {{student.first_name}} {{student.last_name}}<br />
            {{student.phone_number}}<br />
            {{student.current_balance}}<br />
            </td>
          </tr>
        </div>
<!-- Saturday Students........................................................ -->
      <th>Saturday</th>
        <div class="col-md-2" name="Saturday" id="Saturday" >
          <tr ng-repeat="student in studentArray | filter:{lesson_day:'6'}| orderBy: 'lesson_time'">
            <td>
            {{student.lesson_time}}
            {{student.first_name}} {{student.last_name}}<br />
            {{student.phone_number}}<br />
            {{student.current_balance}}<br />
            </td>
          </tr>
        </div>


      
          <!-- <tr ng-repeat="student in studentArray | filter:{lesson_day:'1'}| orderBy: 'lessonTime'">
            <td>{{student.lesson_day}}<br />
            {{student.lesson_time}}<br />
            {{student.first_name}} {{student.last_name}}<br />
            {{student.phone_number}}<br />
            {{student.current_balance}}<br /></td>
            <tr ng-repeat="student in studentArray | filter:{lesson_day:'2'}| orderBy: 'lessonTime'">

            <td>{{student.lesson_day}}<br />
            {{student.lesson_time}}<br />
            {{student.first_name}} {{student.last_name}}<br />
            {{student.phone_number}}<br />
            {{student.current_balance}}<br /></td>
            <tr ng-repeat="student in studentArray | filter:{lesson_day:'3'}| orderBy: 'lesson_time'">

            <td>{{student.lesson_day}}<br />
            {{student.lesson_time}}<br />
            {{student.first_name}} {{student.last_name}}<br />
            {{student.phone_number}}<br />
            {{student.current_balance}}<br /></td>
          </tr> -->



      <!-- <div class="col-md-2" name="Monday" id="Monday" > -->
      <!-- <tr ng-repeat="student in studentArray | filter:{lesson_day:'1'}| orderBy: 'lesson_time'">


        <td>
        {{student.lesson_time}}
        {{student.first_name}} {{student.last_name}}<br />
        {{student.phone_number}}<br />
        {{student.current_balance}}<br />
      </td>{{student.lesson_time}}<br />

      </tr>
      </div> -->
      <!-- <div class="col-md-2" name="Tuesday" id="Tuesday" >

      <tr ng-repeat="student in studentArray | filter:{lesson_day:'2'}| orderBy: 'lesson_time'">
        <td>
        {{student.lesson_time}}
        {{student.first_name}} {{student.last_name}}<br />
        {{student.phone_number}}<br />
        {{student.current_balance}}<br />
      </td>{{student.lesson_time}}<br />

      </tr>
      </div> -->
    <!-- <div class="col-md-2">.col-md-</div>
    <div class="col-md-2">.col-md-1</div>
    <div class="col-md-2">.col-md-1</div>
    <div class="col-md-2">.col-md-1</div> -->

<!-- <h4>
  {{student.lesson_time}}<br />
  {{student.first_name}} {{student.last_name}}<br />< {{student.lesson_day}}<br /> -->
  <!-- {{student.phone_number}}<br />
  {{student.current_balance}}<br />

</h4> -->
</table>
</div>
