<div class ="policies">


  <form><input type="button" value=" Print this page " onclick="window.print();return false;" /></form>
<div class="IrmaHeader">

<h2>The Studio Policies
 of</h2><br />

    <h1>Miss Irma Brecha-Euphinger's Music Studio</h1><br />
  
    </div>

<div class="statement">


    <h3>My Responsibilities</h3>

    I will teach your child the language of music. l teach music with this single purpose: so my students will be able to give voice to that which they cannot say and for which they have no words. My studio has a positive and enthusiastic environment. I will tailor the curriculum to match your child’s specific learning needs.

    <h3>Student Responsibilities</h3>

    Students agree to arrive at each lesson punctually, well-prepared, and with their assignment books and music. To make good progress, daily quality practice is necessary. I want your to completely understand every assignment. Please ask questions.

    If something is happening at home or school that is affecting your child please let me know. Please err on the side of letting me know more so I can be sensitive to the needs of your child. A quick text on the way to lesson can make the difference between a great lesson and a difficult one. (Did Max just find out that he didn't get the part in the play? Give me a heads up. Was Jane hospitalized on your recent trip to Thailand? Let me know!)

    All students are encouraged to play at the two recitals we have each year: the Halloween Recital and the Spring Recital. In addition to their private lessons, each student is encouraged to attend all of the Saturday Piano Master Classes during the school year.

    Students must have an acoustic piano at home. Keyboards are not acceptable.

    Tuition

    Tuition covers not only the actual lesson time spent with the student, but time preparing for each student as well.

    This includes:

    An individualized plan for each student's course of study
    Written progress reports for each child at least once a year
    Development of teaching materials, often including pieces composed specifically for  your child
    Training and experience
    Recital Preparation and repertoire planning
    Professional organization memberships
    Continuing education
    Music lending library

    <h3>Material and Master Class Fee</h3>

    Each student pays a Material and Master class Fee each semester. This covers group master classes as well as paying for music and materials used during the entire course of the semester.

    This includes:

    Literature books
    Sheet Music and Method Books
    Theory Materials
    Music money prizes
    Printing costs
    Registration Fee

    Each student pays a yearly registration fee. This pays for the cost of running the music studio as well as the time spent doing things in addition to actual teaching:

    Bookkeeping
    Scheduling
    Website cost, maintenance and technology
    Time spent on Email and Phone calls
    Commitment

    When students enroll, they are reserving their place in the studio for the entire year.

    <h3>Tuition</h3>

    Tuition is charged by the school year, paid in three installments and is non-refundable.

    The 1st payment, due August 1st includes:

    Tuition
    Registration fee
    Music and Master Class Fee
    The 2nd payment, due January 1st, includes:

    Tuition
    Spring Recital Fee
     Music and Master Class Fee
    The 3rd payment, due June 1st includes:

    Five summer lessons.
    In order to retain their place in the fall, students must take a minimum of 5 summer lessons. Lessons are scheduled at the beginning of the summer. To accommodate ever-changing summer schedules,  summer lessons may be cancelled or rescheduled with 48 hours notice.

    Incentive Programs

    Students can earn Music Money at their lessons. Music money can be spent on prizes - kid-friendly, gender neutral and non-sugary treats. I also use Music Money during lessons as reward and feedback. It’s surprisingly effective and motivating.

    Master Classes

    Sometimes playing the piano can be a little lonesome. It’s wonderful to play an instrument that sounds so good by itself, but opportunities to play with and for others are not as plentiful. To help make up for this, and also because it’s just plain fun, we have piano master classes about eight times during the school year.

    Activities include:

    A chance to perform for peers in a relaxed setting
    Theory Games
    Ear Training and Theory instruction
    Cancellation Policy

    Any lesson that I have to cancel will be made up or a credit will be given.
    No payment credit or makeup lessons will be provided for students who miss lessons for any reason.
    Try to choose a lesson time in which you feel confident. Please understand that the tuition you pay reserves an exclusive weekly time in my schedule for your child. Unlike a doctor or a hairdresser, I cannot resell that time nor can I create extra teaching time in which to give lessons.

    To help accommodate an occasional unavoidable change in student's schedules, you can choose to be part of the email Swap List. (Please let me know if you do not want to be included in the list.) Most parents receive only a few requests a year from someone who'd like to switch lesson times. Please let me know if you have made a swap so I can plan accordingly. It's easiest to just cc me on the final email between two parents confirming that a switch will be happening. (Note: because some of my students drive quite a distance, it may not be possible for them to switch.)

  </div>

</div>
