<div><form><input type="button" value=" Print this page " onclick="window.print();return false;" />

  <div class="IrmaHeader">

  <h1>The Studio Policy AGREEMENT FORM</h1><h3>for</h3><h2>Miss Irma Brecha-Euphinger's Piano and Voice Studio</h2>
</div>


<div class="agreement"><h2>SIGN AND RETURN THIS AS SOON AS POSSIBLE.</h2>
<br />
<br />

  <h4>Dear Miss Brecha-Euphinger,<br />
    <br />
  By signing this, I am stating the following:<br />
<br />
  I COMPLETELY understand and agree to the studio policies for the 2016/2017 year.<br />
  <br />
  I will be prepared for my lessons and pay you WELL in advance.<br />
  <br />
  

  Signed,<br />
<br />


  _______________________________________________________<br />


  (Student's Name)<br /><br />

  _______________________________________________________<br />
  (Date)</h4>




</div>
</form>
