  <!---STUDENT LIST / SCHEDULE........................................ -->
<h1>Student List and Schedule</h1>

<!-- Monday Students........................................................ -->
<div class="day">
  <md-card layout-align="center" class="md-whiteframe-1dp">
    <md-card-header>Monday</md-card-header>
       <md-card-content>
         <md-card ng-repeat="student in studentArray | filter:{'lesson_day':'1'}| orderBy: 'lesson_time'" class = "student">
           <h2 class="lesson_time">{{student.lesson_time}}</h2><br />
           <h3 class="student_name">{{student.first_name}} {{student.last_name}}</h3><br />
           <md-divider></md-divider>
            <p class = "email">{{student.email}}</p><br />
            <p class="phone">{{student.phone_number}}</p><br />
            <p class="balance">${{student.current_balance}}</p><br />
            <input class="btn btn-default" ng-click="updateStudent()" type="updateStudent" name = "Update" value="Update" />
            <input class="btn btn-default" ng-click="deleteStudent()" type="deleteStudent" name = "Delete" value="Delete" />

          </md-card>
      </md-card-content>
  </md-card>
</div>








<!-- Tuesday Students........................................................ -->

      <table class="container-fluid">
      <div class="day"><h2>Tuesday</h2>


        <tr ng-repeat="student in studentArray | filter:{'lesson_day':'2'}| orderBy: 'lesson_time'">
            <td><h2>{{student.lesson_time}} <br />
            <h3>{{student.first_name}} {{student.last_name}}<br />
            {{student.phone_number}}<br />
            {{student.email}}<br />
            ${{student.current_balance}}</h3><br />
            <input class="btn btn-default" ng-click="updateStudent()" type="updateStudent" name = "Update" value="Update" />

            <input class="btn btn-default" ng-click="deleteStudent()" type="deleteStudent" name = "Delete" value="Delete" />

            </h2></td>
          </tr>
        </div>
        </table>
<!-- Wednesday Students........................................................ -->
      <table class="container-fluid">
        <div class="day"><h2>Wednesday</h2>
          <tr ng-repeat="student in studentArray | filter:{'lesson_day':'3'}| orderBy: 'lesson_time'">
            <td><h2>{{student.lesson_time}}<br />
            <h3>{{student.first_name}} {{student.last_name}}<br />
            {{student.phone_number}}<br />
            {{student.email}}<br />
            ${{student.current_balance}}</h3><br />
            <input class="btn btn-default" ng-click="updateStudent()" type="updateStudent" name = "Update" value="Update" />

            <input class="btn btn-default" ng-click="deleteStudent()" type="deleteStudent" name = "Delete" value="Delete" />

            </h2></td>
          </tr>
          </div>
        </table>
<!-- Thursday Students........................................................ -->
      <table class="container-fluid" >
        <div class="day"><h2>Thursday</h2>
          <tr ng-repeat="student in studentArray | filter:{'lesson_day':'4'}| orderBy: 'lesson_time'">
            <td><h2>{{student.lesson_time}}<br />
            <h3>{{student.first_name}} {{student.last_name}}<br />
            {{student.phone_number}}<br />
            {{student.email}}<br />
            ${{student.current_balance}}</h3><br />
            <input class="btn btn-default" ng-click="updateStudent()" type="updateStudent" name = "Update" value="Update" />

            <input class="btn btn-default" ng-click="deleteStudent()" type="deleteStudent" name = "Delete" value="Delete" />

            </h2></td>
          </tr>
        </div>
        </table>

<!-- Friday Students........................................................ -->
      <table class="container-fluid">
        <div class="day"><h2>Friday</h2>
          <tr ng-repeat="student in studentArray | filter:{'lesson_day':'5'}| orderBy: 'lesson_time'">
            <td><h2>{{student.lesson_time}}<br />
            <h3>{{student.first_name}} {{student.last_name}}<br />
            {{student.phone_number}}<br />
            {{student.email}}<br />
            ${{student.current_balance}}</h3><br />
            <input class="btn btn-default" ng-click="updateStudent()" type="updateStudent" name = "Update" value="Update" />

            <input class="btn btn-default" ng-click="deleteStudent()" type="deleteStudent" name = "Delete" value="Delete" />

            </h2></td>
          </tr>
        </div>
        </table>
<!-- Saturday Students........................................................ -->
        <table class="container-fluid">
            <div class="day"><h2>Saturday</h2>
              <tr ng-repeat="student in studentArray | filter:{'lesson_day':'6'}| orderBy: 'lesson_time'">
            <td><h2>{{student.lesson_time}}<br />
            <h3>{{student.first_name}} {{student.last_name}}<br />
            {{student.phone_number}}<br />
            {{student.email}}<br />
            ${{student.current_balance}}</h3><br />
            <input class="btn btn-default" ng-click="updateStudent()" type="updateStudent" id = "Update" value="Update" />

            <input class="btn btn-default" ng-click="deleteStudent()" type="deleteStudent" id = "Delete" value="Delete" />

            </h2></td>
          </tr>
        </div>
       </table>


<div class ="addStudentForm">
  <div class="container-fluid">
    <h3>Add New Student</h3>

  <form ng-submit = "addStudent()">

    <label for="first_name">First Name:</label>
    <input type="text" ng-model = "firstName" /><br />

    <label for="last_name">Last Name:</label>
    <input type="text" ng-model = "lastName" /><br />
<h5><span>
  <label>Lesson Day:</label>

    <select name="lessonDay" id="lessonDay" ng-model = "lessonDay">
      <option value="">-------</option> <!-- not selected / blank option -->
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="4">Thursday</option>
      <option value="5">Friday</option>
      <option value="6">Saturday</option>
    </select>
  </span>
</h5>

<p><span><label>Lesson Time:</label>

    <select name="lessonTime" id="lessonTime" ng-model = "lessonTime" >Lesson Time:
      <option value="">-------</option> <!-- not selected / blank option -->
      <option value="2:00">2:00</option>
      <option value="2:30">2:30</option>
      <option value="3:00">3:00</option>
      <option value="3:30">3:30</option>
      <option value="4:00">4:00</option>
      <option value="4:30">4:30</option>
      <option value="5:00">5:00</option>
      <option value="5:30">5:30</option>
      <option value="6:00">6:00</option>
      <option value="6:30">6:30</option>
      <option value="7:00">7:00</option>
      <option value="7:30">7:30</option>
    </select>
      </span></p>
      <br />

    <label for="email">Email:</label>
    <input type="text" ng-model = "email" /><br />

    <label for="phone_number">Phone Number:</label>
    <input type="text" ng-model = "phoneNumber" /><br />

    <label for="current_balance">Current Balance:</label>
    <input type="text" ng-model = "currentBalance" /><br />

    <p><span><label>Lesson Rate:</label>
      <select name="lessonRate" id= "lessonRate" ng-model = "lessonRate">Lesson Rate:
        <option value="">--------</option><!-- not selected / blank option -->
        <option value="30.00">$30.00</option>
        <option value="40.00">$40.00</option>
        <option value="45.00">$45.00</option>
        <option value="60.00">$60.00</option>
        <option value="90.00">$90.00</option>
      </select>
        </span><br />

<input class="btn btn-default" ng-click="addStudent()" type="addStudent" name = "addStudent" value="addStudent" /></p><br />

    </form>
  </div>
</div>
