/*Primary Color - Cool Grey - #CDCDCD
○ Light - Clean (Light Blue) -  #DFDCE3
○ Dark - Sunshine (Deep Blue) - #465C8B
○ Mid-tone - Vermillion -  #93C178
○ Accent - Fresh (Yellow) #F7EF6A

*/

.row-centered {
    text-align:center;
}

body{
  font-family: 'Cabin', serif;
  padding-top:80px;
  margin:  0 50px 100px; /* bottom = footer height */
  color:#465C8B;
}

.addStudentForm{
background-color: #F7EF6A

}
.navbar{
  color:#465C8B;
  background-color: #93C178
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #465C8B;
}
input:{
     padding:10px;
}

login{
  padding: 20px;
}

body {
	background: #DFDCE3;
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 100px;
}

.form-signin {
  text-align: center;
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #93C178;
}

.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		}


	focus {
		  z-index: 2;
		}


	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
  .addStudentForm
 {
     background-color: #f3f3f3;
     border: solid 3px #F7EF6A;
     padding: 10px;
     width: 300px;
 }

 .addStudentForm label, .addStudentForm input
 {
     display: block;
     width: 120px;
     float: left;
     margin-bottom: 10px;
 }

 .addStudentForm label
 {
     text-align: right;
     padding-right: 20px;
 }

 br
 {
     clear: left;
 }
