/*Primary Color - Cool Grey - #CDCDCD
○ Light - Clean (Light Blue) -  #DFDCE3
○ Dark - Sunshine (Deep Blue) - #465C8B
○ Mid-tone - Vermillion -  #93C178
○ Accent - Fresh (Yellow) #F7EF6A

*/



.row-centered {
    text-align:center;
}
body{
  font-family: 'IM Fell English', serif;
  
}

th,td
{
    margin: 0;
    text-align: center;
    border-collapse: collapse;
    outline: 1px solid #465C8B;
}

td
{
    padding: 5px 10px;
}

th
{
    background: white;
    color: #465C8B;
    padding: 5px 10px;
}

td:hover
{
    cursor: pointer;
    background: #666;
    color: white;
}
footer {
  color: #fff;
   bottom: 0;
   width: 100%;
   position: absolute;
   padding-top: 20px;
   background-color: #465C8B;
   margin: 20px 0;
   }
   input:{
     padding:10px;
   }

login{
  padding: 20px;
}
body {
	background: #CDCDCD;
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 100px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #93C178;
}

.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		}


	focus {
		  z-index: 2;
		}


	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
