
    <header ng-include = "'/views/partials/header.html'"></header>

    <div ng-controller = "logInController" class = "row row-centered">


    <h3>The Music Studio Tracker</h3>

    <input ng-model="userName" type="text" name="userName" value="userName" placeholder="User Name" /><br />
    <input ng-model="password" type="text" name="password" value="password" placeholder="Password"/><br />
    <button ng-click="getLogInCreds" type="button" name="logInButton" value="logInButton">Submit!</button>

    <footer ng-include="'/views/partials/footer.html'"></footer>

    </div>
